[gerrit]
	basePath = git
	canonicalWebUrl = __CANONICAL_WEB_URL__
[database]
	type = H2
	database = db/ReviewDB
[index]
	type = LUCENE
[auth]
	type = __AUTH_TYPE__
[sendemail]
	smtpServer = localhost
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/java-7-openjdk-amd64/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8080/
[cache]
	directory = cache
[download]
  command = checkout
  command = cherry_pick
  command = pull
  command = format_patch
  scheme = ssh
  scheme = http
  scheme = anon_http
  scheme = anon_git
  scheme = repo_download
[plugin "gerrit-oauth-provider-github-oauth"]
  client-id = __OAUTH_CLIENT_ID__
  client-secret = __OAUTH_CLIENT_SECRET__
